* {
    overflow: hidden;
}

.main-sides {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .left-side {
            width: 70%;
            margin-right: 20px;
            border: 1px solid #E1E8ED;
            padding: 20px;
            height: 100vh;
    }
    
        .right-side {
            width: 30%;
            border: 1px solid #E1E8ED;
            padding: 20px;
            height: 100vh;

        }

    .right-side h3 {
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: bold;
    }

    .right-side input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #E1E8ED;
        border-radius: 5px;
    }

    .user {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        padding: 4px;
        border: 2px solid #E1E8ED;
        border-radius: 5px;
    }

    .user img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .user p {
        font-size: 16px;
        font-weight: bold;
    }
}

.main-messages {
    overflow-y: scroll;
    margin-bottom: 50px; /* This creates space for the input bar */
}

.main-messages::-webkit-scrollbar {
    display: none;
}

#messagesContainer {
    height: calc(100vh - 120px); /* Deduct the input height and padding from the total height */
    overflow-y: auto;
    padding: 20px;
}

.main-messages input {
    width: 40%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #E1E8ED;
    border-radius: 5px;
    position: fixed;
    bottom: 0;
}

.main-messages input:read-only {
    background-color: #E1E8ED;
    cursor: not-allowed;
    outline: none;
}

.message {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #E1E8ED;
    background: #a3e6ff;
    border-radius: 5px;
}

.bottom-spacer {
    margin-top: 20vh;
}
